<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>onyx-ios-helloworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F7C62DA1D14837A005939C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7C62F31D14837B005939C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7C62FE1D14837B005939C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
